/* css para mobile-first , estilos gerais*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 10px;
    
}

a {
    text-decoration: none;
}

.body {
    width: 100%;
    font-family: 'Baloo 2', cursive;

}

/*nav-bar*/

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    min-height: 50px;
}

.menu__desktop {
    display: none;
}

.menu__mobile {
    border-radius: 20px;
    padding: 0.5rem;
}
/*header cover*/

header {
    background-image:url(../img/foto-banner.jpg);
    filter: grayscale(100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    min-height: 600px;
    margin-bottom: 2rem;
    margin-top: inherit;
    color: #fff;
    display: inline-block;
    text-align: center;
}

.header__text {
    margin-top: 100px;
    padding: 2rem;
    min-height: 350px;
}

.header__text__h1 {
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

#gelado {
    color: rgba(0, 0, 0, 0.5);
}

.header__text__p {
    font-size: 0.8rem;
    margin: 20px 0;
}

#header__btn {
    color: #fff;
    background-color: darkgrey;
    font-size: 1rem;
    border-radius: 5px;
    min-width: 180px;
    min-height: 40px;
    margin-top: 20px;
}

.black__header__text {
    padding: 1rem;
}

main {
    margin: 1rem;
    color: #fff;
}

/*main-content, articles*/
.container {
    display: flex;
    flex-flow: column;
    margin: 20% 0;   
    min-height: 300px;
    min-width: 280px;
    width: 100%;
}

.container__img{
    width:100%;
}

.container__text {
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 1.5rem 0;
}

.container__text__title {
    font-size: 1.2rem;
}

.container__text__p {
    font-size: 0.7rem;
    padding: 5px;
}
/*footer cover*/
footer {
    background-image: url(../img/foto-footer.jpg);
    backdrop-filter: grayscale(100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    color: #fff;
}

/*maps-box*/
.maps__box {
    padding: 0.8rem;
    font-size: 1.4rem;
    text-align: center;
    margin: 40px auto;
}

#avenida-paulista {
    font-size: 1.3rem;
    text-align: center;
    color: black;
}

#maps {
    display: none;
}

/*form-box*/
.formulario {
    text-align: center;
    margin:1.5rem 1rem;
    font-size: 1.4rem;
}

form {
    display: flex;
    flex-flow: column;
    text-align: left;
    font-size: 1rem;    
    padding: 0.5rem;
}

input {
    background-color: transparent;
    width: 100%;
    border:none;
    border-bottom: 1px solid #fff;
    padding: 0.4rem;
    margin: auto;
}

#msg {
    background-color: transparent;
    min-width: 271px; 
    width: 100%;
    height: 125px;
    border:none;
    border-bottom: 1px solid #fff;
    font-size: 1.2rem;
}

#form__btn {
    display: flex;
    align-self: center;
    text-align: center;
    background-color: lightskyblue;
    color: #fff;
    border-radius: 10%;
    margin-top: 15px;
    min-width: 80px;
    min-height: 35px;
}

/*contato-feedback-redes-sociais*/
.contato {
    display: inline-block;
    text-align: center;
    margin: 5%;
    padding: 5%;
}

#telefone {
    font-size: 0.8rem;
    color: darkcyan;
    margin-bottom: 20px;
}

.contato__midia {
    min-width: 10px;
    padding: 10px;
}

#copyright {
    margin-top: 20px;
    font-size: 0.7rem;
    color: #fff;
}

/*para telas ascima de 450 pixels*/
@media screen and (min-width:450px){
    html {
        font-size: 15px;
    }

/*display nav-bar e menu*/
    nav {
        background-color: lightskyblue;
        color: #fff;
    }

    .menu__mobile {
        display: none;
    }

    .menu__desktop {
        display: flex;
        align-items: flex-end;
        padding: 10px;
       
    }

    .menu__desktop__item {
        color: #fff;
        padding: 10px;
        list-style-type: none;
    }

/*aside é o primeiro article, muda quando entra em ipad*/
    .aside__container__text {  
        background-color: #fff;
        color: #000;
    }
}
/*para telas ascima de 600 pixels*/
@media screen and (min-width:600px){
    html {
        font-size: 18px;
    }

    .aside__container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .container__wrap {
        margin:0;
        display: flex;
        flex-flow: row wrap;
        
    }

    .container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin: 0 5px;
    }

    .container__img {
        width: 50%;
        height: auto;
    }

    .container__text {
        width: 50%;
        font-size: 1.4rem;
    }

/*entra imagem do maps, sai texto do endereço*/
    #avenida-paulista {
        display: none;
    }

    #maps {
        display: block;
        width: 85%;
        height: auto;
        padding: 1rem;
        margin: 0 auto;
    }

    .form {
        margin: 15px;
        padding: 15px;
    }
}
