/* GERAL */
* {
  color: #4A4A4A;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

main {
<<<<<<< HEAD
  min-height: calc(100vh - 40px);
  width: 100%;
=======
  min-height: calc(100vh - 40px); 
>>>>>>> 2282e1aca7d1075e0b20ee56b26390a74122228c
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.navbar__box {
  max-width: 1000px;
<<<<<<< HEAD
  width: 100%;
=======
>>>>>>> 2282e1aca7d1075e0b20ee56b26390a74122228c
  margin: 0 auto;
}

.navbar__logo {
  display: inline-block;
  max-width: 140px;
  height: 20px;
  margin-left: 71px;
}

.navbar__nav {
  display: block;
  margin-left: 420px;
  padding: 0;
}

.navbar__nav li {
  list-style: none;
  display: inline-block;
  margin-right: 50px;
}

.navbar__nav li a {
  text-decoration: none;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.navbar__menu-btn {
  display: none;
}

/* BLOG POSTS */
.posts__title {
  color: #9013FE;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: lighter;
  text-align: center;
  padding-top: 100px;
  margin-top: 0; 
}

/* SECTION */
.posts {
  max-width: 825px;
<<<<<<< HEAD
  width: 100%;
=======
>>>>>>> 2282e1aca7d1075e0b20ee56b26390a74122228c
  margin: 0 auto;
}

.half-column {
  display: inline-block;
  min-height: 480px;
  vertical-align: top;
  width: 100%;
}
/* AUTHOR AREA */
.posts__author-area {
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  max-width: 200px;
  width: 100%;
  display: inline-block;
}

.posts__author-area img {
  max-width: 90px;
  width: 100%;
  border-radius: 45px;
  margin: 20px;
  
}

.posts__author-area p {
  font-size: 1.4rem;
  text-align: center;
  width: 100%;
}

.posts__author-area span {
  font-weight: bold;
}


/* MAIN AREA */
.posts__main-area {
  max-width: 600px;
  margin-left: 20px;
  width: 100%;
  display: inline-block;
 
}

.posts__main-area h1 {
  font-weight: bold;
  font-size: 3.6rem;
  margin-top: 0;
}

.posts__main-area p {
  font-size: 2.4rem;
}

.posts__main-area img {
  max-width: 600px;
<<<<<<< HEAD
  height: auto;
  width: 100%;

=======
  width: 100%;
>>>>>>> 2282e1aca7d1075e0b20ee56b26390a74122228c
}

/* FOOTER */
footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px;
  /* height: 50px; */
}

<<<<<<< HEAD
/* media querys */

@media screen and (max-width:900px) {
  html {
    font-size:7px;
  }

  .half-column {
    display: block;
    margin: 0 auto;
    height: 200px;
  }

  .posts__main-area {
    margin: 10px;

  }

  .navbar__box{
    display: flex;
    justify-content: space-around;
  }
  
  .navbar__nav {
    display: none;
    padding: 0 25px;
    margin: 0 20px;
  
  
  }
  .navbar__menu-btn {
    display: flex;

  }

}
=======
@media screen and (max-width: 900px) {
  .half-column {
    min-height: 200px;
    display: block;
    margin: 0 auto;
  }
  
  .posts__main-area {
    margin-top: 25px; 
    margin-bottom: 25px;
    padding: 0 25px;
  }

  .navbar__box {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  .navbar__nav {
    display: none;
  }

  .navbar__menu-btn {
    display: block;
  }

  .posts__title {
    padding-top: 80px;
  }
}
>>>>>>> 2282e1aca7d1075e0b20ee56b26390a74122228c
